In [3]:
import pandas as pd

# Diccionario de python
Employee = {'number' : [1,2,3,4,5] , 'name': ["abby","john","lina","marc","bob"] , 'salary x Hour' : [15,25,32,27,40]}
print(Employee)
print(Employee["number"])

{'number': [1, 2, 3, 4, 5], 'name': ['abby', 'john', 'lina', 'marc', 'bob'], 'salary x Hour': [15, 25, 32, 27, 40]}
[1, 2, 3, 4, 5]

In [4]:
# Usamos panda para generar una tabla (dataframe)
table1= pd.DataFrame(Employee)
print(table1)

   number  name  salary x Hour
0       1  abby             15
1       2  john             25
2       3  lina             32
3       4  marc             27
4       5   bob             40