In [4]:
import pandas as pd

# Slicing : sacar partes de la tabla

Employee = {'number' : [1,2,3,4,5] , 'name': ["abby","john","lina","marc","bob"] , 'salary x Hour' : [15,25,32,27,40]}
table1= pd.DataFrame(Employee)

In [5]:
# Las 3 primeras filas de la tabla
print(table1.head(3))

   number  name  salary x Hour
0       1  abby             15
1       2  john             25
2       3  lina             32

In [6]:

# Kas 3 ultimas filas de la tabla
print(table1.tail(3))

   number  name  salary x Hour
2       3  lina             32
3       4  marc             27
4       5   bob             40